.footer-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #1976d2;
  position: fixed;
  left: 0;
  bottom: 0;

  p {
    margin: 0;
    color: white;

    span {
      color: red;
    }
  }
}