.details-info-container {
  background-color: rgba(0, 0, 0, 0.445);
  display: flex;
  justify-content: center;
  padding: 100px;
}

.movie-page-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;

  .movie-poster {
    width: 80%;
  }
}